{%- extends 'lab/index.html.j2' -%}

{%- block html_head_js -%}
<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
{{ super() }}
{%- endblock html_head_js -%}


{% block extra_css %}
{{ resources.include_css("nbcx_base/jupyter_style.css") }}
{{ resources.include_css("nbcx_base/style.css") }}
{% endblock extra_css %}

{# ====
No notebook
=== #}
{% block notebook_css %}

{# Headers & Footers #}
{% if resources.nbcx.headers %}
{% for key, value in resources.nbcx.headers.items() %}
<!-- NCBX Headers -->
{% if "lhead" in key %}
@page {
    @top-left {
      {# TODO #}
      content: counter(page);
    }
}
{% endif %}

{% if "chead" in key %}
@page {
    @top-center {
      {# TODO #}
      content: counter(page);
    }
}
{% endif %}

{% if "rhead" in key %}
@page {
    @top-right {
      {# TODO #}
      content: counter(page);
    }
}
{% endif %}

{% if "lfoot" in key %}
dfsgsdfg
<style>
@page {
    @bottom-left {
      content: counter(page);
    }
}
</style>
{% endif %}

{% if "cfoot" in key %}
@page {
    @bottom-center {
      {# TODO #}
      content: counter(page);
    }
}
{% endif %}

{% if "rfoot" in key %}
@page {
    @bottom-right {
      {# TODO #}
      content: counter(page);
    }
}
{% endif %}

{% endfor %}
{% endif %}

{% if resources.nbcx.headerrule %}
<style>
.pagedjs_first_page div.pagedjs_margin-top {
  border-bottom: 0px;
}

div.pagedjs_margin-top {
  border-bottom: 1px solid black;
}
</style>
{% endif %}

{% if resources.nbcx.footerrule %}
<style>
.pagedjs_first_page div.pagedjs_margin-bottom {
  border-top: 0px;
}

div.pagedjs_margin-bottom {
  border-top: 1px solid black;
}
</style>
{% endif %}
{% endblock notebook_css %}

{# ====
No custom CSS
=== #}
{% block custom_css %}
{% endblock custom_css %}




{% block body_header %}
<body>
  <div class="header"></div>
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">
{% endblock body_header %}

{% block body_footer %}
    </div>
  </div>
  <div class="footer"></div>
</body>
{% endblock body_footer %}


{# 
==============================================================================
 Cell
==============================================================================
#}

{% block any_cell scoped %}
    {% if "nbcx_ignore" in cell.metadata.get("tags", []) %} 
    {# Do Nothing if nbcx_ignore tag is set #}
    {% elif "nbcx_lhead" in cell.metadata.get("tags", []) %} 
    {# Ignore headers and footers #}
    {% elif "nbcx_rhead" in cell.metadata.get("tags", []) %} 
    {# Ignore headers and footers #}
    {% elif "nbcx_chead" in cell.metadata.get("tags", []) %} 
    {# Ignore headers and footers #}
    {% elif "nbcx_lfoot" in cell.metadata.get("tags", []) %} 
    {# Ignore headers and footers #}
    {% elif "nbcx_rfoot" in cell.metadata.get("tags", []) %} 
    {# Ignore headers and footers #}
    {% elif "nbcx_cfoot" in cell.metadata.get("tags", []) %} 
    {# Ignore headers and footers #}
    {% elif "nbcx_title" in cell.metadata.get("tags", []) %}
        {# Title page #}
        {# Don't include header/footer, and vertically center + logo #}
        {{ super() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock any_cell %}



{% block in_prompt -%}
{%- endblock in_prompt %}

{% block input_group -%}
{% endblock input_group %}

{% block input %}
{%- endblock input %}

{% block empty_in_prompt -%}
{%- endblock empty_in_prompt %}

{% block output_area_prompt %}
{% endblock output_area_prompt %}

